%h3="Registration Status for #{@user.name}"
%p
  ="Unfortunately, we are unable to approve your request at this time."
  %br
  ="You can use the following link to contact us:"
  %br
  ="http://fruitfulminds.com/contact.html"
