%h3="Welcome to Fruitfulminds.com, #{@user.name}"
%p
  ="You are now set up to access Fruitful Minds Curriculum and Survey Data."
  %br
  ="You can use the following link and username to log into the website:"
  %br
  ="username: #{@user.email}"
  %br
  =@url
