%div{:type => "HEADER"}
  %p.western{:align => "CENTER"}
    %font{:size => "4"}
      %b Fruitful Minds, Inc.
  %p{:align => "CENTER"}
    %font{:size => "4"}
      %b Licensing AgreementTerms of Use
  %p{:align => "LEFT", :style => "margin-bottom: 0.46in"}
    %br/
%p.western{:align => "LEFT", :style => "margin-left: 0.25in;"}
  %a{:name => "Text8"}>
  This Licensing
  Agreement (“Agreement”) The Terms of Use
  %span{:style => "background: #ffffff"}
    areis
    considered a licensing agreement effective
  %span{:style => "background: #ffffff"} 1
  %sup
    %span{:style => "background: #ffffff"} st
  %span{:style => "background: #ffffff"}
  %span{:style => "background: #ffffff"}
    day of April, 2013, by and between  all online
    users,  hereinafter referred to as Licensee,
    and Fruitful Minds, hereinafter referred to as “FM” or
    “Licensor,” whose place of business is 2150 Allston Way, Suite
    400, Berkeley, CA 94704.
%ol
  %li
    %p.western{:align => "JUSTIFY", :style => "widows: 0; orphans: 0"}
      %u
        Description
        of Content Provider
%ol
  %ol{:type => "a"}
    %li
      %p.western{:align => "JUSTIFY", :style => "widows: 0; orphans: 0"}
        Fruitful
        Minds is a non-profit organization providing nutrition education to
        youth. The program recruits adult students from [
        %span{:style => "background: #c0c0c0"}>
          college
          campuses
        ] to instruct children through classroom, after
        school programs and summer camps. The purpose of Fruitful
        Minds is to combat childhood obesity and improve community health
        by delivering a California Department of Education Standards-based
        nutrition curriculum to communities which:
%p.western{:align => "JUSTIFY", :style => "margin-left: 1.25in; text-indent: -0.25in; widows: 0; orphans: 0"}
  i. 	Tailors curriculum to the community including sensitivity to
  cultural heritage, language and access to the foods we promote
%p.western{:align => "JUSTIFY", :style => "margin-left: 1.25in; text-indent: -0.25in; widows: 0; orphans: 0"}
  ii.	Reaches out to parents as well as kids
%p.western{:align => "JUSTIFY", :style => "margin-left: 1.25in; text-indent: -0.25in; widows: 0; orphans: 0"}
  iii.	Inspires social justice, self-love and desire to move and eat
  well for life
%p.western{:align => "JUSTIFY", :style => "margin-left: 1.25in; text-indent: -0.25in; widows: 0; orphans: 0"}
  iv.	Includes physical activities, discussion and games that are
  interactive and fun
%p.western{:align => "JUSTIFY", :style => "margin-left: 1.25in; text-indent: -0.25in; widows: 0; orphans: 0"}
  v. Empowers youth to
  better their lives and those of their family and community
%ol
  %ol{:start => "2", :type => "a"}
    %li
      %p{:align => "LEFT"}
        All copyrights and trademarks are held in the
        name of the Licensor, and all ownership rights therein will
        continue unaffected during any period of licensed use by Licensee.
%ol{:start => "2"}
  %li
    %p{:align => "JUSTIFY", :style => "widows: 0; orphans: 0"}
      %u Content
%p.western{:align => "LEFT", :style => "margin-left: 0.75in"}
  Pursuant to
  this Agreement, the Licensor will provide the Licensee with a
  non-assignable, non-transferable, revocable license to make use of
  the content described in Attachment A. The Licensee shall not use,
  sell, gift, transfer, copy, display, or otherwise convey any of
  Content to a third party without permission in writing from Licensor.
%ol{:start => "3"}
  %li
    %p.western{:align => "LEFT"}
      %u Use
%ol
  %ol{:type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u> Presentation of the Content
        \.
        Licensee agrees to utilize the Content described in Attachment A
        in a manner consistent with the program objectives set forth in
        Section 1(a)(i-v) above.  Lessons will include a healthy snack,
        used as a teaching modality, some physical activity, discussion,
        games and demonstrations. All lessons will be led by teams of
        [
        %span{:style => "background: #c0c0c0"}> college students
        ] with
        oversight provided by project staff. Students will provide
        volunteer instruction services at no cost to the schools. Licensor
        will provide a letter to be sent home to parents notifying them
        that snacks will be served as part of the lessons.
%ol
  %ol{:start => "2", :type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u> Right To Modify
        \. Licensee
        may only modify the Content after obtaining written approval from
        the FM Executive Director and FM Board of Directors.
%ol
  %ol{:start => "3", :type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u> Misuse of Content
        \.
        Licensee agrees that the unauthorized use of Licensor’s logo and
        branding would substantially and irrevocably damage Licensor’s
        business.  In particular, Licensee agrees not to use any of the
        Licensed Content or any FM brand materials in the following ways:
%p.western{:align => "LEFT", :style => "margin-left: 1.25in; text-indent: -0.25in"}
  i. 	In a manner that would jeopardize FM’s status as a tax exempt
  organization under 26 USC 501(c)(3).
%p.western{:align => "LEFT", :style => "margin-left: 1.25in; text-indent: -0.25in"}
  ii.
  %i
    Including but not limited to: include other non-negotiable
    uses.
%ol
  %ol{:start => "4", :type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u Injunctive Relief.
        Given
        the risk of damage from misuse described above, Licensee agrees to
        the entry of an ex parte order brought by the Licensor for
        injunctive relief to enforce Licensor’s rights under this
        agreement.
%ol{:start => "4"}
  %li
    %p.western{:align => "LEFT"}
      %u Fees
      = succeed ".)" do
        %i
          (in the case of
          online users, fees are waivedNote:  for a contract to be valid,
          there needs to be consideration. This consideration can be minimal
          (could be $1), but it cannot be something illusory
%ol{:start => "5"}
  %li
    %p.western{:align => "LEFT"}
      %u Term and Termination
%ol
  %ol{:type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u> Term
        \. This Agreement will
        become effective as of the effective date described above, and will
        remain in effect until such time as either the Licensee or the
        Licensor have terminated this Agreement in accordance with the
        provisions of section 5(b) below.
%ol
  %ol{:start => "2", :type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u Termination
%p.western{:align => "LEFT", :style => "margin-left: 1.25in; text-indent: -0.25in"}
  i.
  = succeed "." do
    %u Termination by the Licensee
  This Agreement may be
  terminated by the Licensee at any time without cause by providing one
  hundred and eighty days (180) advance written notice to the Licensor
  of such termination at the address set forth for notices in section
  15(a) of this Agreement.  Upon termination of this Agreement, the
  Company shall not have the right to continue to use the Content.  If
  there are pending obligations of already committed services, then
  Licensee will have the right to use Content to fulfill these
  obligations.
%p.western{:align => "LEFT", :style => "margin-left: 1.25in; text-indent: -0.25in"}
  ii.
  = succeed "." do
    %u Termination by the Licensor
  This Agreement may be
  terminated by the Licensor at any time without cause, by providing
  one hundred and eighty days (180) advance written notice to the
  Licensee of such termination at the address set forth for notices in
  section 15(a) of this Agreement.
%ul
  %li
    %p{:align => "LEFT"}
      %u> Upon termination
      \. Licensee shall provide
      Licensor with all documents and supplies produced, maintained, or
      supplied by Licensor, whether or not such documents are final or
      draft documents.
%ol{:start => "6"}
  %li
    %p.western{:align => "LEFT", :style => "page-break-before: always"}
      %u
        Miscellaneous
        Provisions
%ol
  %ol{:type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u> Indemnification
        \. LICENSEE
        AGREES TO INDEMNIFY AND HOLD THE LICENSOR HARMLESS  FOR LOSS OR
        LIABILITY ARISING FROM ANY ACTIONS UNDER THIS AGREEMENT.
%p.western{:align => "LEFT", :style => "margin-left: 0.5in"}
%ol
  %ol{:start => "2", :type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u> Prior Agreements
        \. This
        Agreement represents the sole agreement between Licensor and
        Licensee with respect to the scope of services described herein.
        Any prior understanding or agreements, written or oral, between the
        parties are superseded by this Agreement.
%p.western{:align => "LEFT", :style => "margin-left: 0.5in"}
%ol
  %ol{:start => "3", :type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u> Amendment
        \. This Agreement
        may only be amended by a written instrument executed by both
        parties.
%p.western{:align => "LEFT", :style => "margin-left: 0.5in"}
%ol
  %ol{:start => "4", :type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u> Severability
        \.  The
        invalidity or unenforceability of any one or more of the provisions
        of this Agreement shall in no way affect the validity or
        enforceability of any of the other provisions.  Any provision that
        is prohibited by the laws of any jurisdiction shall be ineffective
        in such jurisdiction only to the extent of such prohibition, and
        shall not invalidate or otherwise wise affect the other provisions
        hereof.
%ol
  %ol{:start => "5", :type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u>
          Alternative Dispute
          Resolution
        \.  In the event of a dispute about any invoice or the
        quality of work performed by the Licensor, the parties agree to
        mediate such dispute before a mutually agreed-upon mediator or a
        dispute resolution service.
%p.western{:align => "LEFT", :style => "margin-left: 0.5in"}
%ol
  %ol{:start => "6", :type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u> Copyright
        \. Any writings
        produced as a result of this Agreement related to existing FM
        materials shall be the property of FM.
%ol
  %ol{:start => "7", :type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u> No Partnership
        \.  This
        Agreement does not create a partnership relationship. Licensee does
        not have authority to enter into contracts on Licensor’s behalf.
        Grants obtained by Licensor are Licensor’s exclusive property.
%ol
  %ol{:start => "8", :type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u> Ambiguity
        \.  The parties to
        this agreement, and each of them, hereby represent that the
        language contained herein is to be construed as jointly proposed
        and jointly accepted, and in the event of any subsequent
        determination of ambiguity, all parties shall be treated as equally
        responsible for such ambiguity.
%ol
  %ol{:start => "9", :type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u> Governing Law
        \.  The
        validity of this Agreement and any of its terms or provisions as
        well as the rights and duties of the parties hereunder shall be
        governed by the laws of the state of California.  Venue for all
        litigation relative to the formation, interpretation, and
        performance of this Agreement shall be in Alameda County,
        California.
%ol
  %ol{:start => "10", :type => "a"}
    %li
      %p.western{:align => "LEFT"}
        %u> Notices
        \. Any written
        notice required by this Agreement shall be provided to the
        following addresses:
%p.western{:align => "LEFT", :style => "margin-left: 1in"}
  Licensor:	Fruitful
  Minds
%p.western{:align => "LEFT", :style => "margin-left: 1in; text-indent: 0.5in"}
  2150 Allston Way, Suite 400
%p.western{:align => "LEFT", :style => "margin-left: 1in; text-indent: 0.5in"}
  Berkeley, CA 94704
%p.western{:align => "LEFT", :style => "margin-left: 1in;"}
  Licensee:	See login id for user of the
  applicationName
%p.western{:align => "LEFT", :style => "margin-left: 1in; text-indent: 0.5in"} Street Address
%p.western{:align => "LEFT", :style => "margin-left: 1in; text-indent: 0.5in"} City, State, Zip
%p.western{:align => "CENTER"}
  %br/
%div{:style => "margin-left: 0.25in;"}
  %p.western{:align => "LEFT"}
    %b
      CERTIFICATION is indicated by
      agreeing to the Terms of Use in the online application
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b Licensor:  	Fruitful Minds
  %p.western{:align => "LEFT"}
    %font{:size => "2"}
      %b
        Address: 	2150 Allston
        Way, Suite 400 Berkeley, CA 94704
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b Licensor’s Contact Person: 	Allyson Cesario
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b Title: 	Executive Director
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b Telephone:   	510-384-8642
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b e-mail:	allyson@fruitfulminds.org
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b
        Signature: ________
        Date: ________
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b Licensee: ________
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b Address: ________
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b Licensee’s Contact Person: ________
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b Title: _________
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b Telephone: _________
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b e-mail: ________
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b By COMPANY AGENT:
    %font{:size => "2"}
      %b
        ________
  %p.western{:align => "LEFT", :style => "margin-top: 0.08in; margin-bottom: 0.08in"}
    %font{:size => "2"}
      %b
        Signature: ________
        Date: ________
%p.western{:align => "CENTER", :style => "page-break-before: always"}
  %br/
%p.western{:align => "CENTER"}
  %u
    Attachment A:  Description of
    Licensed Content
%p.western{:align => "CENTER"}
  %br/
%div{:style => "margin-left: 0.25in;"}
  %p.western{:align => "LEFT"}
    %a{:name => "_GoBack"}>
    Materials
  %ul
    %li
      %p{:align => "LEFT"} Consent Forms (English and Spanish)
    %li
      %p{:align => "LEFT"}
        Snack and Supply Schedule with Snack Guidelines
    %li
      %p{:align => "LEFT"} Ambassador MOU
    %li
      %p{:align => "LEFT"} Message to Ambassadors
  %p{:align => "LEFT", :style => "margin-left: 0.5in"}
    %br/
  %p{:align => "LEFT"}
    The topics discussed in FM’s 7-lesson series include:
  %ul
    %li
      %p{:align => "LEFT"} food groups
    %li
      %p{:align => "LEFT"} nutrition basics
    %li
      %p{:align => "LEFT"} food labels
    %li
      %p{:align => "LEFT"} food advertising
    %li
      %p{:align => "LEFT"}
        physical activity, and
    %li
      %p{:align => "LEFT"}
        how positive food and activity choices can prevent
        future health issues.
    %li
      %p{:align => "LEFT"} diet related diseases
  %p.western{:align => "LEFT"}
    %br/
  %p.western{:align => "LEFT"}
    %font{:color => "#222222"}
      Important
      Notations:My list of things I want and deal breakers is here (a
      beginning):
  %ul
    %li
      %p{:align => "LEFT"}
        %font{:color => "#222222"}
          All Fruitful Minds materials
          must be distributed with copyright and trademark information
          included in the footer. 
    %li
      %p{:align => "LEFT"}
        %font{:color => "#222222"}
          All Non-Fruitful Minds
          branding must be approved by Fruitful Minds Inc. Executive Director
          or Board of Directors.
    %li
      %p{:align => "LEFT"}
        %font{:color => "#222222"}
          Fruitful Minds
          Representatives will sign the MOU and file an e-copy with their
          local FM office.
    %li
      %p{:align => "LEFT"}
        %font{:color => "#222222"}
          All Ambassadors will be
          provided the training as outlined in the materials and teaching
          points.
    %li
      %p{:align => "LEFT"}
        %font{:color => "#222222"}
          Franchisees Licensees will
          submit to the trainer training and upon completion, sign off on a
          Franchise Agreementthe Terms of Use stating their understanding of
          an agreement to deliver Fruitful Minds principles, preferred method
          of delivery and otherwise meet the goals of the organization
          including providing a customized approach to nutrition education for
          each class respecting cultural and genetic diversity.
    %li
      %p{:align => "LEFT"}
        %font{:color => "#222222"}
          All Franchisees Licensees
          will be able to provide end of session reports and results of the
          client survey to the LicensorFranchiser at any time and may be
          required to submit quarterly reports.
    %li
      %p{:align => "LEFT"}
        %font{:color => "#222222"}
          LicenseeFranchisees will be
          required to raise their own funds to support Fruitful Minds classes
          in their local area.
    %li
      %p{:align => "LEFT"}
        %font{:color => "#222222"}
          LicensFranchisees will
          provide background and TB checks for all Ambassadors unless a waiver
          is provided by the school and a school representative will supervise
          Fruitful Minds classes.
    %li
      %p{:align => "LEFT"}
        %font{:color => "#222222"}
          LicensFranchisees will
          obtain signed consent forms as well as the terms of use from
          schools/participants before programs begin.
    %li
      %p{:align => "LEFT"}
        %font{:color => "#222222"}
          LicensFranchisees will
          choose either a program management product or be trained in program
          management before presenting the program..
