- @subtitle = "Portal"

=link_to "Add Pre-Survey Part 1 Results", new_presurveys_part1_path
=link_to "Add Pre-Survey Part 2 Results", new_presurveys_part2_path
=link_to "Add Post-Survey Results", new_postsurveys_path
=link_to "Add Food Journal", new_foodjournals_path
=link_to "Preview Report/Add Ambassador Comments", new_reports_path

- Presurvey.all.each do |s|
  - s.attributes.each do |a,b|
    = a
    =b
    <br />
