<<<<<<< HEAD
-@subtitle = "Survey Data Entry"

= link_to 'Add new pre-survey', new_presurveys_path
= link_to 'Add new post-survey', new_postsurveys_path
=======
>>>>>>> 4c94300cb0498d754a6f0e4f9abc96d38de43b8e
